
<div class="container-footer">
<footer>

  <section class="ft-main">
    <div class="header-page">
      <div class="logo-img">
          <img src="./assets/img/logo1.png" alt="" width="300px" height="250px">

      </div>
      <div class="header-content">
          <span>louver shop | shutters</span>
          <p>blinds, shades, and more</p>
      </div>

  </div>

    <div class="ft-main-item">
      <h2 class="ft-title">Interior Shutters</h2>
      <ul>
        <li><a href="#">Automation</a></li>
        <li><a href="#">Energy Efficiency</a></li>
        <li><a href="#">Room Darkening</a></li>
        <li><a href="#">Top-Down, Bottom-Up</a></li>
        <li><a href="#">Child & Pet Safety</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Custom Shades</h2>
      <ul>
        <li><a href="#">Find a Local Consultant</a></li>
        <li><a href="#">About Louver Shop</a></li>
        <li><a href="#">Our Process</a></li>
        <li><a href="#">Customer Reviews</a></li>
        <li><a href="#">Warranty & Care</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Custom Blinds</h2>
      <ul>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">Financing</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Leave Feedback</a></li>
        <li><a href="#">Become a Dealer</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Exterior Shutters</h2>
      <h4>Louver Shop Shutters of Macon</h4>
      <p>888-428-1415</p>
      <p>Find a Consultant</p>
      <form>
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </section>

  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </section>


  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy;2024 Kriya Global IT Services Pvt Ltd. All Rights Reserved </li>
    </ul>
  </section>
</footer>

</div>